.App {
  margin: 0 12rem;

  #tsparticles {
    position: relative;
    display: none;

    .tsparticles-canvas-el {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
    }
  }
}

@media only screen and (max-width: 375px) {
  .App {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .App {
    margin: 0 4rem;
  }
}
