.Footer {
  margin: 5rem auto;
  width: 100%;

  nav {
    display: flex;
    min-height: 5rem;
    align-items: stretch;
    justify-content: center;

    p {
      display: flex;
      margin-top: 0;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 1rem 3rem;
        color: #3f4144;
        transition: color 0.2s ease;
        justify-content: center;

        img {
          width: 2rem;
        }
      }
    }
  }

  div {
    text-align: center;

    p {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      margin-top: 0;

      a {
        transition: color 0.2s ease;
        color: #1a9f60;
        text-decoration: none;
      }
    }
  }
}
