.Header {
  display: flex;
  margin-top: 3rem;
  padding: 0 1rem;

  .header-left {
    display: flex;
    justify-content: flex-start;
    flex: 1;

    img {
      width: 14rem;
      height: auto;
    }
  }

  .header-right {
    display: flex;
    justify-content: flex-end;

    a {
      display: flex;
      align-items: center;
      padding: 1rem 2rem;
      color: #000;
      transition: color 0.2s ease;
      text-decoration: none;

      img {
        width: 2rem;
        margin-right: 0.6rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .Header {
    margin-top: 1rem;
    padding: 0 0.5rem;

    .header-left {
      img {
        width: 8rem;
        height: auto;
      }
    }

    .header-right {
      a {
        padding: 0.5rem 1rem;

        img {
          width: 1.4rem;
          margin-right: 0.2rem;
        }
      }
    }
  }
}
