@font-face {
  font-family: InterUI;
  src: url("../assets/fonts/Inter-Regular.otf") format("opentype");
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  min-width: 600px;

  body {
    background-color: #fff;
    color: #333;
    letter-spacing: -0.1px;
    font-weight: 400;
    font-kerning: normal;
    line-height: 1.6;
    font-size: 1.8rem;
    font-family: InterUI, sans-serif;
    margin: 0;
    padding: 0;

    #root {
      width: 100%;
    }

    a {
      z-index: 1;
    }

    a:hover {
      opacity: 0.75;
    }
  }
}

@media only screen and (max-width: 375px) {
  html {
    body {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  html {
    body {
      font-size: 1.6rem;
    }
  }
}
