@font-face {
  font-family: InterUI;
  src: url("../assets/fonts/Inter-UI-Regular.otf") format("opentype");
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  body {
    background-color: #fff;
    color: #333;
    letter-spacing: -.1px;
    font-weight: 400;
    font-kerning: normal;
    line-height: 1.6;
    font-size: 1.8rem;
    font-family: InterUI;
    margin: 0;
    padding: 0;
  }
}