.Projects {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  hr {
    width: 100px;
    margin: 10px auto;
    display: block;
    border: none;
    background-color: #d2d6dd;
    height: 1px;
  }

  h6 {
    font-weight: 300;
    width: 90%;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 4rem auto;
    padding: 2rem;
    font-size: 3.15rem;
  }

  p {
    text-align: center;
    width: 100%;

    a {
      color: #7e818b;
      background-color: transparent;
      padding: 1rem 2.5rem;
      border-radius: 4px;
      border: 1px solid #7e818b;
      font-size: 1.6rem;
      transition: opacity 0.2s ease;
      text-decoration: none;
      transform: scale(1);
      display: inline-block;
      cursor: pointer;
      line-height: 1;
      text-align: center;
    }
  }

  .tilt {
    width: 60% !important;
    padding: 0 !important;

    .project-div {
      align-self: center;
      margin: 0 auto;
      transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
      padding: 0;
      background-color: transparent;
      transition: all 0.2s ease, transform 0.2s cubic-bezier(0.03, 0.98, 0.52, 0.99);
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
      color: #ddd;
      position: relative;
      border-radius: 1rem;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      will-change: transform;
      width: 100%;

      figure {
        margin: 0;
        border-radius: 1rem;
        overflow: hidden;

        img {
          width: 100%;
          display: block;
          transition: all 0.3s ease;
          margin: auto;
          overflow: hidden;
        }
      }
    }
  }

  .project-description {
    padding: 0.75rem 1rem;
    transform: translateZ(3rem);
    border: 0.1rem solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin: 2rem 0 10rem 0;
    border-radius: 1rem;
    width: 60%;

    h4 {
      margin: 1rem 0;
      line-height: 1.2;
      font-weight: 400;
      font-size: 1.4em;
    }

    small {
      font-size: 1.2rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 1rem 0;
    }

    p {
      width: 100%;
      text-align: left;
      margin: 1rem 0;
    }

    a {
      margin: 1rem 2rem 1rem 0;
      font-size: 1.6rem;
      transition: color 0.2s ease;
      color: #1a9f60;
      text-decoration: none;
      font-weight: 700;
    }
  }
}

@media only screen and (max-width: 600px) {
  .Projects {
    h6 {
      font-size: 2.15rem;
    }

    .tilt {
      width: 80% !important;
    }

    .project-description {
      width: 80%;

      h4 {
        font-size: 1rem;
      }

      small {
        font-size: 0.8rem;
      }

      p {
        font-size: 1rem;
      }

      a {
        font-size: 1rem;
      }
    }
  }
}
